@import url('https://fonts.cdnfonts.com/css/brogte');


nav{
    font-family: 'brogte';
}
body{
    font-family: 'poppins' sans-serif;
}

.S1{
    background-image: url(../media/pexels-photo-9331822.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
}

.S4{
    background-image: url(../media/Rectangle\ 30.png);
    height: auto;
    
    background-position: center;
    background-size: cover;
}

<<<<<<< HEAD
=======
.active{ 
    background-color: rgb(67, 51, 51) !important;
    margin: 0 1em;
    padding: 2em;
    cursor: pointer;
    color: white;
}


>>>>>>> 319047a420875b66a9595592d69efc4793bc7c9a
